<template>
  <div>
    <div class="col-10 mx-auto">
      <draggable :options="options">
        <div class="item" v-for="item in items" :key="item.id">{{item.name}}</div>
      </draggable>
      <vue-good-table :columns="columns" :rows="rows"
                        :sort-options="{enabled: false,}">
      </vue-good-table>
      <br>
      <b-button class="m-5">
        <font-awesome-icon icon="print"/> 印刷
      </b-button>
      <b-button class="m-5">
        <font-awesome-icon icon="dumpster"/>
      </b-button>
      <b-button class="m-5">
        <font-awesome-icon icon="save"/> 保存
      </b-button>
      <b-button class="m-5">
        <font-awesome-icon icon="arrow-alt-circle-left"/> 終了
      </b-button>
    </div>
  </div>
</template>

<script>
import draggable from 'vuedraggable';

export default {
  name: 'dnd',
  components: { draggable },
  data() {
    return {
      options: {
        animation: 80,
      },
      items: [
        { id: 1, name: 'NW' },
        { id: 2, name: '国語表現' },
        { id: 3, name: 'ビジネスマナー' },
        { id: 4, name: 'PHP' },
        { id: 5, name: 'ゼミ' },
        { id: 6, name: 'CD' },
        { id: 7, name: 'PBL' },
      ],
      columns: [
        {
          label: '時間割',
          field: 'time',
          width: '50px',
          tdClass: 'text-center',
        },
        {
          label: '月曜日',
          field: 'monday',
          width: '100px',
          tdClass: 'text-center',
        },
        {
          label: '火曜日',
          field: 'tuesday',
          width: '100px',
          tdClass: 'text-center',
        },
        {
          label: '水曜日',
          field: 'wednesday',
          width: '100px',
          tdClass: 'text-center',
        },
        {
          label: '木曜日',
          field: 'thursday',
          width: '100px',
          tdClass: 'text-center',
        },
        {
          label: '金曜日',
          field: 'friday',
          width: '100px',
          tdClass: 'text-center',
        },
      ],
      rows: [
        {
          id: 1, time: '1', monday: '', tuesday: '', wednesday: '', thursday: '', friday: '',
        },
        {
          id: 2, time: '2', monday: '', tuesday: '', wednesday: '', thursday: '', friday: '',
        },
        {
          id: 3, time: '3', monday: '', tuesday: '', wednesday: '', thursday: '', friday: '',
        },
        {
          id: 4, time: '4', monday: '', tuesday: '', wednesday: '', thursday: '', friday: '',
        },
        {
          id: 5, time: '', monday: '', tuesday: '', wednesday: '', thursday: '', friday: '',
        },
        {
          id: 6, time: '5', monday: '', tuesday: '', wednesday: '', thursday: '', friday: '',
        },
        {
          id: 7, time: '6', monday: '', tuesday: '', wednesday: '', thursday: '', friday: '',
        },
      ],
      mounted() {
        const subjectId = this.items.id;
        this.rows = subjectId;
      },
    };
  },
};
</script>

<style scoped>
  .item {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #7f7f7f;
    border-radius: 10px;
    background-color: #ffffff;
  }
  .item:hover {
    cursor: grab;
  }
  .item:active {
    cursor: grabbing;
  }
</style>
