<template>
  <td>
    <b-form-input v-model="session.subject"></b-form-input>
  </td>
  <!--          <b-form-input v-model="session.teacher"></b-form-input>-->
</template>

<script>

export default {
  // eslint-disable-next-line vue/no-unused-components
  name: 'Koma',
  props: ['session'],
};
</script>

<style scoped>

</style>
